<!DOCTYPE html>
<html>
<body>

<div class="container">  
  <form id="contact" action="/reg_event" method="post">
      <h3><b>Event Registration</b></h3>
    <h4><br> <% if (schooldetails.schoolname) {%>
    <%= schooldetails.schoolname %> Registered <% } %> </h4>
    <fieldset>
      <input placeholder="Event Name" type="text" tabindex="1" required autofocus name="name">
    </fieldset>
    <fieldset>
    <select name="category">
        <option value="" disabled selected>Category</option> 
        <option>Junior</option>
        <option>Senior</option>
    </select>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" >Submit</button>
    </fieldset>
  </form>
 
  
</div>

</body>
</html>