<!DOCTYPE html>
<html>
<head>
  <title>Aarohan  Registration</title>
  <link rel="stylesheet" href="./css/home.css">
</head>
<body>
<nav id="primary_nav">
<a href="#" id="mobile_nav">&#9865;</a>
    <ul>
            <li><a href="school_reg" id="school_reg">School<br>Registration</a></li>
            <li><a href="student_reg" id="student_reg">Student<br>Registaration</a></li>
            <li><a href="event_reg" id="event_reg">Event<br>Registration</a></li>
    </ul>
  </nav>

<% if (selectoption.choice == 1) { %>
    <% include schoolRegistration.ejs %>
<% } %>

<% if (selectoption.choice == 2) { %>
    <% include studentRegistration.ejs %>
<% } %>

<% if (selectoption.choice == 3) { %>
    <% include eventRegistration.ejs %>
<% } %>

<!-- scripts -->
<script type="text/JavaScript" src="/js/jquery.min.js" ></script>
<script src="/js/navbar.js"></script>

</body>
</html>