<!DOCTYPE html>
<html>
<body>

<div class="container">  
  <form id="contact" action="/reg_school" method="post">
      <h3><b>School Registration</b></h3>
    <h4><br> <% if (schooldetails.schoolname) {%>
    <%= schooldetails.schoolname %> Registered <% } %> </h4>
    <fieldset>
      <input placeholder="School Name" type="text" tabindex="1" required autofocus name="school_name">
    </fieldset>
    <fieldset>
      <input placeholder="Faculty Name" type="text" tabindex="2" required name="faculty_name">
    </fieldset>
    <fieldset>
      <input placeholder="Faculty Email Id" type="email" tabindex="3" required name="faculty_email">
    </fieldset>
    <fieldset>
      <input placeholder="Faculty Phone Number" type="tel" tabindex="3" required name="faculty_phoneno">
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" >Submit</button>
    </fieldset>
  </form>
 
  
</div>

</body>
</html>