<!DOCTYPE html>
<html>
<body>

<div class="container">  
  <form id="contact" action="/reg_student" method="post">
      <h3><b>Student Registration</b></h3>
    <h4><br> <% if (schooldetails.schoolname) {%>
    <%= schooldetails.schoolname %> Registered <% } %> </h4>
    <fieldset>
      <input placeholder="Aarohan Id" type="text" tabindex="1" required autofocus name="uid">
    </fieldset>
    <fieldset>
      <input placeholder="Student Name" type="text" tabindex="2" required name="name">
    </fieldset>
    <fieldset>
    <select name="gender">
        <option value="" disabled selected>Gender</option> 
        <option>Male</option>
        <option>Female</option>
    </select>
    </fieldset>
    <fieldset>
    <select name="category">
        <option value="" disabled selected>Category</option> 
        <option>Junior</option>
        <option>Senior</option>
    </select>
    </fieldset>
    <fieldset>
        <h1>Total no. of schools = <%= Object.keys(schools).length %></h1>
    <select name="school">
        <option value="" disabled selected>School</option> 
        
        <% for(var i=0;i<Object.keys(schools).length;i++) { %>
        <option><%= schools[i] %></option>
        <% }%>
    </select>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" >Submit</button>
    </fieldset>
  </form>
 
  
</div>

</body>
</html>